@font-face {
    font-family: 'Century Gothic Pro';
    src: url('CenturyGothicPro.woff2') format('woff2'),
        url('CenturyGothicPro.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jungle';
    src: url('Jungle.woff2') format('woff2'),
        url('Jungle.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lifehack';
    src: url('LifehackItalic-Bold.woff2') format('woff2'),
        url('LifehackItalic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

