.theme-btn {
  background: #35B9D7;
  border-radius: 6px;
  font-weight: 600;
  font-size: 11px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  font-feature-settings: 'calt' off;
  color: #fff;
  display: inline-block;
  text-align: center;
  letter-spacing: 0;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
  padding: 8px 12px;

  font-size: 25px;
  font-weight: 400;
  padding: 26px 30px;
  border-radius: 20px;
  border: 2px solid #fff;

  span {
    margin-left: 8px;
  }

  &.dark-btn {
    background: $primary-color;
    color: #fff;

    &:hover {
      color: $primary-color;
      background: #E5EDF4;
    }
  }

  &:hover {
    color: #fff;
  }
  &:disabled{
    background: #F2F2F2;
    color: #CCCCCC;
    &:hover{
      background: #F2F2F2;
      color: #CCCCCC;
    }
  }

}